body {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    background-color: #fcc9b8;
    padding: 1rem;
}

form {
    font-size: larger;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #ffb49b;
    width: 55%;
}

label {
    padding: 5px;
}

input, textarea {
    padding: 4px;
    border-radius: 4px;
    background-color: antiquewhite;
}



#namn, #email {
    width: 70%;
}

.namn {
    font-weight: bold;
    text-decoration: underline;
}

button {
    border-radius: 8px;
    cursor: pointer;
    padding: 10px 15px;
    background-color: rgb(255, 223, 180);
    border: none;
    width: 80px;
    margin-top: 20px;
}

button:hover {
    box-shadow: 0 0 15px rgba(71, 71, 71, 0.11);
}

h1, h2 {
    text-decoration: underline;
}

.post {
    border-color: none;
    background-color: antiquewhite;
    border-radius: 10px;
    width: fit-content;
    padding: 1rem 3rem;
    margin-top: 6vh;
}

.tid {
    font-weight: 500;
    margin-top: 4px;
}

.kommentar {
    margin-top: 2vh;
}

.email {
    margin-top: 4px;
}